*{
    padding:0;
    margin: 0;
   
}
.App{
    overflow-y: hidden;
}

.rotas{
    width: 90%;
    height: 300px;
    background-color:transparent;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.rotas a{
    font-size: 28px;
    cursor: pointer;
}

.slider{
    width: 290px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
.sectionHome div h3{
    width: 100%;
    height: 30px;
    padding-top: 30px;
    text-align: justify;
}
.sectionHome div p{
    width: 100%;
    height: auto;
    text-align: justify;
    font-size: 16px;
    color:grey;
    
}

footer form input::placeholder{
    font-size: 16px;
    padding-left: 10px;
}

footer div.finalfooter{
    width: 50%;
    height: 100px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer  .pfooter{
    text-transform: uppercase;
    font-size: 15px;
}
